.AboutUsPageMainDiv {
  flex: 1 1 auto;
  margin: auto;
  max-width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.AboutUsPageMainDiv > .Text {
  width: 100%;
}

.AboutUsPageMainDiv > .Text > .Heading {
  font-size: xx-large;
  font-weight: bold;
  text-align: justify;
  margin-top: 0px;
}

.abutus-page-img-text-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
}

.Heading {
  display: flex;
  justify-content: center;
}

.Heading h3 {
  width: max-content;
  padding-bottom: 10px;
  border-bottom: #fdc435 5px solid;
}

.DescriptionText {
  line-height: 1.6;
  text-align: justify;
}

.AboutUsBtnContainer {
  display: flex;
  gap: 20px;
  margin: 40px auto;
}

.ResumeBtn,
.CvBtn {
  width: 30% !important;
  color: black !important;
  font-family: "Roboto" !important;
  border-radius: 8px !important;
  text-transform: unset !important;
  font-size: medium !important;
}

.ResumeBtn {
  background-color: #fdc435 !important;
}

.CvBtn {
  border-width: 2px !important;
  border-color: black !important;
}

.AboutUsImage {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AboutUsImage img {
  height: 50vh;
}

@media screen and (max-width: 768px) {
  .AboutUsPageMainDiv {
    max-width: 90%;
    flex-direction: column;
  }

  .AboutUsPageMainDiv > .Text {
    width: 90%;
  }

  .abutus-page-img-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ResumeBtn,
  .CvBtn {
    width: 50% !important;
    text-align: center;
  }
}
