.HomepageMainContainer {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.ImagesContainer {
  width: auto;
  height: auto;
  z-index: 0;
}

.YellowBgSvg {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.mobile-yellow-bg-svg {
  opacity: 0;
}

.SplineScene {
  position: absolute;
  left: 18%;
  bottom: 12%;
  max-width: 100vw;
}

.SplineScene > canvas {
  scale: 0.55;
  cursor: unset;
}

.InfoTextContainer {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
}

.MyHomepageInfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 10% 13% 0% 13%;
}

.MyHomepageInfo h3 {
  color: #fdc435;
}

.MyHomepageInfo .HelloText {
  font-family: "Playfair";
  font-size: xx-large;
  font-weight: bold;
  width: 65%;
  text-align: left;
  margin-top: 0px;
}

.MyHomepageInfo .Mydescription {
  color: #828282;
  width: 80%;
  font-size: large;
  text-align: justify;
  margin-bottom: 40px;
  line-height: 1.6;
}

.HomePageButtonsContainer {
  display: flex;
  gap: 20px;
}

.ProjectsBtn,
.LinkedInBtn {
  width: 20% !important;
  color: black !important;
  font-family: "Roboto" !important;
  border-radius: 8px !important;
  text-transform: unset !important;
  font-size: medium !important;
}

.ProjectsBtn {
  background-color: #fdc435 !important;
}

.LinkedInBtn {
  border-width: 2px !important;
  border-color: black !important;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .SplineScene {
    display: none;
    left: 11%;
    bottom: 14%;
  }

  .SplineScene > canvas {
    position: absolute;
    top: 0px;
    right: 0px;
    scale: unset;
  }

  .MyHomepageInfo {
    z-index: 1;
  }

  .MyHomepageInfo .HelloText {
    width: 75%;
    font-size: x-large;
  }

  .MyHomepageInfo .Mydescription {
    width: 90%;
    font-size: medium;
  }

  .ProjectsBtn,
  .LinkedInBtn {
    width: 40% !important;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .SplineScene {
    max-width: 80vw;
    position: absolute;
    left: 20%;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .YellowBgSvg {
    opacity: 0;
  }

  .mobile-yellow-bg-svg {
    opacity: 1;
    height: 100%;
    max-width: 100vw;
    top: -10px;
    position: absolute;
    z-index: -1;
  }

  .SplineScene {
    display: none;
  }

  .HomepageMainContainer {
    display: flex;
    justify-content: center;
    background: url("../../assets/Images/mobile-yellow-bg.svg") no-repeat;
    background-size: auto;
  }

  .InfoTextContainer {
    background-color: #fdc435;
    max-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .MyHomepageInfo {
    width: 100%;
    margin: 8% 1% 0 8%;
    align-items: unset;
  }

  .MyHomepageInfo .HelloText {
    width: 100%;
    color: white;
  }

  .MyHomepageInfo .Mydescription {
    margin-bottom: 20px;
    width: 92%;
    color: black;
  }

  .MyHomepageInfo h3 {
    color: black;
  }

  .ProjectsBtn {
    background-color: #fff !important;
    color: #fdc435 !important;
    box-shadow: none !important;
  }

  .ProjectsBtn,
  .LinkedInBtn {
    width: 40% !important;
  }
}
